.grid{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
        /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}
     .grid-item { 
         width: 250px;
         min-height: 100px;
         box-shadow: 2px 2px 4px #aaa;
         border-radius: 4px;
         margin-bottom: 20px;
         color: rgba(255, 255, 255, 0.72);
         &:hover{
          box-shadow: 3px 3px 6px #aaa;   
         }
         @include media-query($on-palm) {
          width: 100%;       
        }


}
     .container {
         padding: 15px;     

     }
     
.container a {
    color: #eee;
    text-decoration: none;
}
     .grid-item img {
         width: 100%;
         border-radius: 4px 4px 0 0;
         border:none;
     }
     .action{
         margin-top: 15px;
         padding-top: 15px;
         border-top: 1px solid #ddd;
       
     }
     .action .fa{
         float: right;
         opacity: 0.9;
         color: #eee;
         &:hover{
             opacity: 0.8;
         }
         
     }

.social {
    position: absolute;
    right: 5%;
    top: 2%;
    display: none;

}
.social .fa, a .fa {
    margin-left: 5px;
    cursor: pointer;
    color: #eee;
    opacity: 0.9;
        &:hover {
        opacity: 1;
    }
}

.grid-item:hover .social{
    display: block;
    opacity: 0.9;
}


.page-container {
    margin: 0 auto;
    box-shadow: 0 0 1px #aaa;
    max-width: 800px;

}
.page-container img {
    max-width: 100%;
}

article {
    border-bottom: 1px solid #ddd;
    color: $text-color;
    padding: 1em 0;
}

.social-full h4, .social-full fa  {
    display: inline-block;
}

.social-full {
    padding: 10px 0;
    font-size: 1.2em;
}
.social-full .fa{
        color: $brand-color;
    &:hover {
        color: $highlight-color;
    }
}

.content {
        padding: 2em;
}

footer {
    clear: both;
    display: block;
    text-align: center;
    color: $text-color;
    padding: 50px;
}



header {
    min-height: 60px;
    text-align: center;
    margin: 2em 0;
}

.header-title {
    color: #555;
    font-size: 3em;
    line-height: 0;
    margin: 0;
    display: inline-block;
    letter-spacing: -1px;
    font-weight: 300;
    text-shadow: 0 0 1px;
}


.header-tagline {
    font-weight: 300;
    line-height: 1;
    color: #ea6111;
    text-shadow: 0 0 1px;
    
}

.show-comments {
    background: transparent;
    border: 1px dashed $brand-color;
    cursor: pointer;
    text-align: center;
    color: $text-color;
    font-size: 1.2em;
    padding: 4px;
    margin-top: 1em;
    &:hover{
       border: 1px dashed $highlight-color;
    }
}

.comment {
    text-align: center;
}

//table
table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
  table tr {
    border-top: 1px solid $grey-color;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin: 0; }
    table tr th :last-child, table tr td :last-child {
      margin: 0; }


// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }

    
}


.featured-img {
    width: 100%;
}

.pagination {

}

.active {
    font-weight: 700;
}
